/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 30px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    /* min-width: 100%; */
    /* height: 500px; */
}



.thumbnail {
    padding: 0;
    margin-bottom: 0px;
}

/*
.carousel-control, .item{
    border-radius: 4px;
}
*/

.caption {
    height: 140px;
    overflow: hidden;
    font-size: small;
}

.caption h3 {
    white-space: nowrap;
    text-align: center;
}

.thumbfooter {
    color: #d17581;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    text-align: right;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin-top: 50px;
    margin-bottom: 30px;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
